@media screen and (min-width: 650px) {
  body {
    height: 2104px;
    width: 1300px;
  }
  /*
columns
*/

  .content, .column1 {
    height: 871px;
    margin-left: 162px;
    max-width: 618px;
  }
  .column2 {
    height: 871px;
    margin-right: 78px;
    max-width: 442px;
    float: right;
  }
  /************************
HEADER
************************/

  header {
    height: 523px;
    width: 100%;
    font-size: 350%;
  }
  #logo {
    margin: 0 auto;
    display: block;
    position: relative;
    top: -76px;
    left: -485px;
  }
  header ul li:nth-child(1) {
    position: relative;
    right: -386px;
    top: -29px;
    font-size: 18px;
  }
  header ul li:nth-child(2) {
    font-size: 18px;
    position: relative;
    top: -29px;
    right: -390px;
  }
  header ul li:last-child {
    position: relative;
    top: -24px;
    right: -378px;
  }
  header p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    position: relative;
    bottom: 48px;
    left: -5px;
    font-size: 185%;
    color: white;
    letter-spacing: -4px;
  }
  .subtitle {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    position: relative;
    margin-top: -170px;
    font-size: 15px;
    font-weight: normal;
  }
  h2 {
    font-size: 3.9em;
    padding: 15px;
    position: relative;
    bottom: 4px;
    left: -15px;
    font-weight: normal;
    line-height: 114%;
    letter-spacing: .04px;
  }
  h3 {
    font-size: 3.9em;
    padding: 0px;
    position: relative;
    bottom: 153px;
    left: 250px;
    font-weight: normal;
    line-height: 114%;
    letter-spacing: .5px;
  }
  span {
    display: inline-block;
    text-decoration: none;
    padding-right: 5px;
  }
  .content nav a {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: -209px;
    right: -115px;
    text-decoration: underline;
    font-weight: 600;
    color: #A6B7C3;
    font-size: .8em;
  }
  .content p {
    font-size: 1.01em;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    right: 0px;
    top: -195px;
    line-height: 165%;
    max-width: 99%;
  }


  blockquote {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
    color: #0068B5;
    border-left: 2px solid #ccc;
    quotes: "\201C""\201D""\2018""\2019";
    position: relative;
    bottom: 178px;
    right: 33px;
    margin-right: 0px;
    line-height: 170%;
    letter-spacing: 0px;
  }
  .content nav a {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: -209px;
    right: -115px;
    text-decoration: underline;
    font-weight: 400;
    color: #A6B7C3;
    font-size: .8em;
  }

  .content nav {
    max-width: 22px;
    max-height: 22px;
    position: relative;
    top: -200px;
  }
  .smallmurray {
    display: inline-block;
    max-width: 22px;
    max-height: 22px;
    vertical-align: center;

  }
  .smallmurray img {
    max-width: 22px;
    max-height: 22px;
    border-radius: 50%;
  }

  .content .smallmurray p {
    position: relative;
    top: -30px;
  }
  .smallmurray p {
    position: absolute;
    top: -20px;
    right: -30px;
    display: inline;
  }
  .murrayname {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
  }
}
